@define-color foreground #FDF9F7;
@define-color background #150A05;
@define-color primary #D8C255;
@define-color secondary #081921;
@define-color accent #2D47C8;

* {
  font-family: 'JetBrainsMonoNerdFont';
  font-size: 14pt;
  min-height: 0px;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

window#waybar {
  /* 
    background: transparent; 
	padding-top: 10px;
    */
  border-radius: 0;
  background: @secondary;
  /* border: 2px solid @secondary;     */
}

tooltip {
  background: @background;
  border: 2px solid @primary;
  color: @foreground;
}

.modules-left,
.modules-center,
.modules-right {
  /* padding: 0px; */
  /* padding: 5px 10px 0px 10px; */
  /* padding-left: 10px;
    padding-right: 10px; */
  /* padding-bottom: 0px; */
  /* padding: 1px; */
}

.modules-left>*>* {
  /* margin-left: 10px; */
}

.modules-center>*>* {
  /* margin-left: 5px; */
  /* margin-right: 5px; */
}

.modules-right>*>* {
  /* margin-right: 10px; */
}

/* Modules */
#clock,
#battery,
#pulseaudio,
#workspaces,
#mpd,
#memory,
#network,
#language,
#bluetooth,
#custom-fuck,
#window,
#custom-power,
#tray {
  color: @foreground;
  padding-right: 10px;
  padding-left: 10px;
  /* padding-top: 3px; */
  /* padding-bottom: 3px; */
  /* margin: 2px; */
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  /* margin-right: 5px; */

  /* background: #52263F; */
  /* Borders */
  /* opacity: 0.6; */
}

#battery.critical,
#battery.warning {
  color: @accent;
  background-color: @primary;
  /* background-color: #A83133; */
}

#memory {
  /* margin-right: 5px; */
  /* background: #EC9706; */
  /* Honey */
}

#pulseaudio {
  /*
	background: @accent;
	border-radius: 0;
	*/
}

#network {}

#custom-vpn {}

#clock {
  color: @primary;
}

#custom-spotify {
  background: #332E41;
  padding-right: 15px;
  padding-left: 15px;
}

#window {
  color: @foreground;
}

#language {}

#language span {
  color: @primary;
}

#bluetooth.on,
#bluetooth.connected {
  color: @primary;
}

#bluetooth.off {
  color: @foreground;
}

#workspaces {}

#workspaces button {
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0px;
  border-color: transparent;
  color: @accent;
  /* margin-right: 2px; */
}

#workspaces button.empty,
#workspaces button.persistent {
  color: @foreground;
}

#workspaces button.active,
#workspaces button.focused {
  background: @primary;
  color: @secondary;
}

#workspaces button.active:hover,
#workspaces button.focused:hover {
  background: @primary;
  color: @accent;
}


#workspaces button:hover {
  background: transparent;
  color: @primary;
}

#tray {
  color: @foreground;
}

#tray menu {
  background: @background;
  border: 2px solid @primary;
  border-radius: 5px;
  color: @foreground;
}